/* Desktop - 1 */
body{

    background-image: url(back2.jfif);
    background-position-x: 0cm;
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position-y: 0cm ;
    background-attachment: fixed;
    opacity: 1;
    }
    
    h1{
         
         margin-left: 0.5cm;
         color: #323b3f;
         font-family: cursive;
    }
    ul{
        display: inline;
    }
    li{
        background-color: rgb(217, 217, 217);
    }
    
     .li1{
        background-color: rgb(255, 104, 104);
        color: black;
    }
    .li2
    {
        background-color: rgb(96, 204, 96);
        color: black;
    }
    .li3
    {
        background-color: rgb(15, 130, 158);
        color: black;
    }

    #updating_stats{
        background-color: rgb(206, 159, 159); width: 13cm;margin-left: 11cm;padding: 0.2cm;margin-top: 8cm;display: none;
        }
    
    #nav_btn2{ 
    margin-left: 1cm; 
    text-decoration: none;
    border: 3px outset black;
    background-color: rgb(96, 204, 96);
    width:auto;
   box-shadow: 0px 0px 10px rgb(100, 100, 219);

    padding: 5px;
    margin-bottom: 20px;
    margin-top: -5px;
    border-radius: 10%; 
        
     }
     #nav_btn3{
        position: relative;
        left: 20px;
        text-decoration: none;
        border: 3px outset black;
        background-color: rgb(15, 130, 158);
        width:auto;
        height: 20px;
        float:inline-end;
       box-shadow: 0px 0px 10px rgb(100, 100, 219);
    
        padding: 8px;
        margin-bottom: 21px;
        margin-top: -5px;
        border-radius: 10%; 
     }
    table, th, td {
        align-items: center;
        margin-right: 300px;
        border-bottom: 2px solid black;
        width: 100px;
        margin: auto;
        background-color: white;
        padding: 10px;
        border-spacing: 1cm;
        border-image: url(border.png) 40 round;
      }
    
      td:nth-child(even), th:nth-child(even) {
        background-color: #D6EEEE;
      }
    
      th:hover,td:hover{
        background-position: 2px;
        background-color: rgb(80, 131, 197);
        border: 2px solid black;
      }
    ul{
        display: flex;
        background-color: #D9D9D9;
        word-spacing: 2px;
        list-style: none;
        width: 100%;
    }
    #secretCode{
        font-size: 40px; text-align: center;background-color: aquamarine;color: rgb(21, 160, 28);background: none;display: none;margin-top: 1cm;
    }
    
   
  
    #video{
        background-position-x: 20%;
        background-color: gray;
       
    }
    #Iname1:focus{
        border: red;
        border-radius:  0%;
    }
    #Iname2:focus{
        border: red !important;
        border-radius:  20%;
    }
    #cant{
        float: right;
      
        margin-top: 10px;
        padding: 10px;
        position: fixed;
        bottom: 80px;
        right: 10px;
    }
    button{
        cursor: pointer;
        background-color: rgb(67, 165, 67);
        margin-left: 4.5cm;
        border-radius: 10%;
        border: 3px black solid;
        padding: 2%;
    }
    button:hover{
        background-color: #88c595;
    }
    #view_status{
        background-color: rgb(221, 68, 68);
        height: 70px;
        width: 500px;
        display: none;
        margin: auto;
        border: 2px black solid;
        box-shadow: 0px 0px 20px rgb(0, 225, 255)
        ;
    }
    #view_status:hover{
        background-color: rgb(241, 79, 79);
        text-decoration: none;
        box-shadow: 0px 0px 20px black;
    }
    #next_step{
        height: 30px;
        width: 400px;
        margin-top: 8cm;
        margin-left: 12.5cm;
        background-color: rgb(156, 143, 143);
        display: nne;
        border-bottom: 4px orange solid ;
        border-radius: 4%;
        padding: 0.5%;
        animation: ease-in-out 3s ansh infinite; 
}
@keyframes ansh {
    25%{
     box-shadow: 0px 0px 24px white;
    }
    50%{
        box-shadow: 0px 0px 0px white;

    }
    75%{
        box-shadow: 0px 0px 24px white;

    }
    100%{
        box-shadow: 0px 0px 0px white;
    }
} 


#btn_update{
    background-color: lightsalmon; 
    max-width: 200px;
    margin-top: 1cm;
    padding: 1%;
    display: none;
    margin-left: 42%;
    border: none;
    animation: ansh3_  3s infinite ease-in-out;
}
#btn_update:hover{
    background-color: rgb(156, 127, 211);
    animation: ansh3  3s infinite ease-in-out;
    border: inset;

}
@keyframes ansh3_ {
    0%{
        box-shadow: 0px 0px 20px rgb(19, 17, 17);
        
    }
    25%{
        box-shadow: 0px 0px 0px white;
    }
    50%{
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
    }
    100%{
        box-shadow: 0px 0px 0px white;
    }
    
}
@keyframes ansh3 {
    0%{
        box-shadow: 0px 0px 20px rgb(231, 0, 0);
    }
    25%{
        box-shadow: 0px 0px 0px white;
    }
    50%{
        box-shadow: 0px 0px 20px rgb(250, 3, 3);
    }
    100%{
        box-shadow: 0px 0px 0px white;
    }
    
}

#reg_update{
    background-color: lightsalmon; 
    max-width: 200px;
    padding: 1%;
    margin-left: 43.5%;
    display: none;
    margin-top: 2cm;
    border: none;
    animation: ansh3_  3s infinite ease-in-out;
}
#reg_update:hover{
    background-color: rgb(156, 127, 211);
    animation: ansh3  3s infinite ease-in-out;
    border: inset;

}
@keyframes ansh3_ {
    0%{
        box-shadow: 0px 0px 20px rgb(19, 17, 17);
        
    }
    25%{
        box-shadow: 0px 0px 0px white;
    }
    50%{
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
    }
    100%{
        box-shadow: 0px 0px 0px white;
    }
    
}
@keyframes ansh3 {
    0%{
        box-shadow: 0px 0px 20px rgb(231, 0, 0);
    }
    25%{
        box-shadow: 0px 0px 0px white;
    }
    50%{
        box-shadow: 0px 0px 20px rgb(250, 3, 3);
    }
    100%{
        box-shadow: 0px 0px 0px white;
    }
    
}
#viewstatus{
    border-radius: 8% ;
    background-color: gray; 
    width: 550px;
    margin-left: 380px;
    z-index: -0.2;
    margin-top: 4cm;
    display: none;
    margin-bottom: 20px; 
    animation:ease-in-out 3s ansh infinite; 
}
@keyframes ansh {
    25%{
      margin-right: 1px;
      background-color: rgb(211, 163, 99);
      border-radius: 20%;
    }
    50%{
        margin-left: 380px;
        border-radius: 8%;
    }
    75%{
        margin-right: -380px;
        border-radius: 20%;
 
        background-color: rgb(214, 164, 98);
    }
    100%{
        margin-left: 380px;
        border-radius: 8%;

    }
}

#btn1{
    float: left;font-size: 30px;margin-top: 134px;margin-left: 6cm; border-top: 0px;border-left: 0px;border-right: 0px;border-bottom: 4px orange solid ;
       border-radius: 4%;
}
#btn2{
    font-size: 30px;margin-top: 134px; border-bottom: 4px orange solid ;border-top: 0px;border-left: 0px;border-right: 0px;
       border-radius: 4%;
}
#no_account{
    background-color: gray; width: 400px; margin-left: 11cm; margin-top: 2cm;border-bottom: 15px orange solid
}




































































@media screen and (max-width: 614px) {


    body{
        background-image: url("back2.jfif") !important;
        background-size: cover;
    }


    #nav_btn1{
        margin-left: 3%;
        margin-top: 2px;
        display: none;
      }
      
      #nav_btn3{
        margin-left: 2cm;
        margin-top: 2px;
      }

      #btn1{
        width: 200px;
        margin-left: 25%;
      }
      #btn2{
        margin-top: 2cm;
        width: 200px;
        margin-left: 25%;
      }

      #no_account{
        background-color: gray; width: 200px; margin-left: 3cm; margin-top: 2cm;border-bottom: 15px rgb(238, 219, 183) solid
    }
    #secretCode{
        font-size: 40px; margin-left: 20px;background-color: aquamarine;color: rgb(21, 160, 28);background: none;display: none;margin-top: 4cm;display: none;
    }
    #updating_stats{
        background-color: rgb(206, 159, 159); width: 13cm;margin-left: 0cm;padding: 0.2cm;margin-top: 8cm;display: none;
        }
    #viewstatus{
        margin-left: 0.11cm;
        animation:ease-in-out 3s ansh___ infinite; 
}
@keyframes ansh___ {
    25%{
      margin-left: 0.11cm;
      background-color: rgb(211, 163, 99);
      border-radius: 20%;
    }
    50%{
        margin-left: 0.11cm;
        border-radius: 8%;
    }
    75%{
        margin-left: 0.11cm;
        border-radius: 20%;
 
        background-color: rgb(214, 164, 98);
    }
    100%{
        margin-left: 0.11cm;
        border-radius: 8%;

     }
    }
}