/* Desktop - 1 */
body{
    background-image: url(back2.jfif);
    background-position-x: 0cm;
    background-size: 100%; 
    background-repeat: no-repeat;
    background-position-y: 0cm ;
    background-attachment: fixed;
    opacity: 1;
    }
    #drop_down{
        height: 100px;
        width: 100px;
        margin-left: 30.4cm;
        margin-top: -4cm;
        z-index: 1;
        position: absolute;
        background-color: rgb(155, 128, 128);
    }
    
    
    h1{
         
         margin-left: 0.5cm;
         color: #323b3f;
         font-family: cursive;
    }
    ul{
        display: inline;
    }
    li{
        background-color: #D9D9D9;
    }
    
    #view_status{
        border-radius: 8% ;
        background-color: gray; 
        width: 550px;
        margin-left: -25px;
        z-index: -0.2;
        position: absolute;
        margin-top: -320px; 
        animation:ease-in-out 3s ansh infinite; 
    }
    @keyframes ansh {
        25%{
          margin-right: 1px;
          background-color: rgb(211, 163, 99);
          border-radius: 20%;
        }
        50%{
            margin-left: 380px;
            border-radius: 8%;
        }
        75%{
            margin-right: -380px;
            border-radius: 20%;
     
            background-color: rgb(214, 164, 98);
        }
        100%{
            margin-left: 380px;
            border-radius: 8%;
    
        }
    }

    nav{
        
        position: fixed;
        z-index: 1;
        height: 160px;
        width: 1365px;
        overflow:hidden;
        margin-top: 0%;
        position: fixed;
        left: 0px;
        top: 0px;
        margin-right: 0%;
        background: #d7cce6;
     }
     .li1{
        background-color: rgb(255, 104, 104);
        color: black;
    }
    .li2
    {
        background-color: rgb(96, 204, 96);
        color: black;
    }
    .li3
    {
        background-color: rgb(15, 130, 158);
        color: black;
    }
    
    #nav_btn1{ 
        margin-left: 25.5cm;
        border: 3px outset black;
        background-color: rgb(255, 104, 104);
        width:auto;
        height: 20px;
        padding: 7px;
        box-shadow: 0px 0px 10px rgb(100, 100, 219);
        margin-bottom: 20px;
        margin-top: -5px;
        border-radius: 10%;
        text-decoration: none;
    }
    .nav_btn1:hover, .li1:hover, .li2:hover, .nav_btn2:hover, .li3:hover, .nav_btn3:hover{
        background-color: white;
    }
    
    .nav_btn2{ 
        margin-left: 1cm; 
        text-decoration: none;
        border: 3px outset black;
        background-color: rgb(96, 204, 96);
        width:auto;
       box-shadow: 0px 0px 10px rgb(100, 100, 219);
        display: none;
        padding: 5px;
        margin-bottom: 20px;
        margin-top: -5px;
        border-radius: 10%; 
        
     }
     #nav_btn3{
        position: relative;
        left: 20px;
        text-decoration: none;
        border: 3px outset black;
        background-color: rgb(15, 130, 158);
        width:auto;
        height: 20px;
        float:inline-end;
       box-shadow: 0px 0px 10px rgb(100, 100, 219);
    
        padding: 8px;
        margin-bottom: 21px;
        margin-top: -5px;
        border-radius: 10%; 
     }
    ul{
        display: flex;
        background-color: #D9D9D9;
        word-spacing: 2px;
        list-style: none;
        width: 100%;
    }
    h1{
        display: flex;
        position: absolute;
        margin-bottom: 3%;
        background-color: #D9D9D9;
        align-items: center;
        font-size: 30px;
        line-height: 4px;
        left: 24px;
        margin-right: 40px;
    }
    .btn:hover {
        background-color: white;
        border: black 4px solid;
        padding: 2px;
        cursor: pointer;
    }
    .btn{
        background-color: rgb(219, 96, 96);
        border: solid black 4px;
        padding: 2px;
        margin-left: 50px;
    }
    #video{
        background-position-x: 20%;
        background-color: gray;
       
    }
    #Iname1:focus{
        border: red;
        border-radius:  0%;
    }
    #Iname2:focus{
        border: red !important;
        border-radius:  20%;
    }
    #cant{
        float: right;
      
        margin-top: 10px;
        padding: 10px;
        position: fixed;
        bottom: 80px;
        right: 10px;
    }
    #new_form{
        margin-top: 100px;
        background-color: #323b3f;
    }
    
    #register{
        background-color: rgba(50, 228, 88, 0.904);
        border-radius: 10%;
        color: black; 
        height: 30px;
        font-size: 18px;
        width: 20% ;
        text-align: center;
        margin-left: 125px;
        margin-top: 0px;
        cursor: pointer;
    }
    #register:hover{
        background-color: #90ee98;
    }
    #removeData{
        background-color: rgba(218, 86, 69, 0.904);
        border-radius: 10%;
        color: black; 
        height: 30px;
        font-size: 18px;
        width: 30%;
        border: black  2px solid;
        text-align: center;
        margin-left: 30px;
        margin-top: 30px;
        cursor: pointer;
    }
    #removeData:hover{
        background-color: #db7272;
    }
    fieldset{
        background-color: rgb(146, 131, 131);
        border-radius: 3%;
        border: 3px black solid;
    }
    legend{
        background-color: #1b9c9c;
        border: 3px black solid;
    }
    table, th, td {
        align-items:baseline;
        font-size: 35px;
        margin-right: 200px;
        border-bottom: 5px solid black;
        width: 300px;
        background-color: rgb(156, 143, 143);
        padding: 10px;
        border-spacing: 1cm;
        border-image: url(border.png) 40 round;
      }
    
      th:hover,td:hover{
        background-position: 2px;
        background-color: rgb(80, 131, 197);
        border: 2px solid black;
      }

      #here{
        text-decoration: none;
        font-size: 22px;
        height: 50px;
        color: rgb(32, 17, 170);
      }
      #here:hover{
        color: rgb(32, 17, 170);
        background-color: rgb(240, 240, 240);
      }

      #next_step{
        height: 70px;
        width: 400px;
        margin-top: 8cm;
        margin-left: 12.5cm;
        background-color: rgb(156, 143, 143);
        display: nne;
        border-bottom: 4px orange solid ;
        border-radius: 4%;
        padding: 0.5%;
        animation: ease-in-out 3s ansh infinite; 
}
@keyframes ansh {
    25%{
     box-shadow: 0px 0px 24px white;
    }
    50%{
        box-shadow: 0px 0px 0px white;

    }
    75%{
        box-shadow: 0px 0px 24px white;

    }
    100%{
        box-shadow: 0px 0px 0px white;
    }
} 

#img1{
    width: 300px; 
    height: 250px;
    position: fixed;
    top: 120px; 
    left: 35px;
    animation: ease-in-out 3s image infinite; 
}
@keyframes image {
    0%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    25%{
     box-shadow: 0px 0px 34px rgb(226, 25, 25);
     border-radius: 2%;
    }
    50%{
        box-shadow: 0px 0px 0px rgb(240, 2, 2);
     border-radius: 12%;
        
    }
    75%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    100%{
        box-shadow: 0px 0px 0px rgb(238, 2, 2);
        border-radius: 12%;

    }
    
}

#img2{
    width:300px; 
    height: 250px;
    position: fixed;
    top: 120px;
    right: 35px;
    animation: ease-in-out 3s image infinite; 
}
@keyframes image {
    0%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    25%{
     box-shadow: 0px 0px 34px rgb(226, 25, 25);
     border-radius: 2%;
    }
    50%{
        box-shadow: 0px 0px 0px rgb(240, 2, 2);
     border-radius: 12%;
        
    }
    75%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    100%{
        box-shadow: 0px 0px 0px rgb(238, 2, 2);
        border-radius: 12%;

    }
    
}
      
#img3{
    width:300px; 
    height: 250px;
    position: relative;
    margin-top: 2cm;
    bottom: 10px; 
    left: 35px;
    animation: ease-in-out 3s image infinite; 
}
@keyframes image {
    0%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    25%{
     box-shadow: 0px 0px 34px rgb(226, 25, 25);
     border-radius: 2%;
    }
    50%{
        box-shadow: 0px 0px 0px rgb(240, 2, 2);
     border-radius: 12%;
        
    }
    75%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    100%{
        box-shadow: 0px 0px 0px rgb(238, 2, 2);
        border-radius: 12%;

    }
    
}
 
  
#img4{
    float: right;
    width: 300px;
    position: fixed;
    bottom: 40px; 
    margin-top: 1cm;
    right: 35px;
    animation: ease-in-out 3s image infinite; 
}
@keyframes image {
    0%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    25%{
     box-shadow: 0px 0px 34px rgb(226, 25, 25);
     border-radius: 2%;
    }
    50%{
        box-shadow: 0px 0px 0px rgb(240, 2, 2);
     border-radius: 12%;
        
    }
    75%{
        box-shadow: 0px 0px 34px rgb(255, 11, 11);
        border-radius: 2%;

    }
    100%{
        box-shadow: 0px 0px 0px rgb(238, 2, 2);
        border-radius: 12%;

    }
    
}
.view_status{
    border-radius: 8% ;
    background-color: gray; 
    width: 550px;
    margin-left: 380px;
    z-index: -0.2;
    margin-top: 5cm;
    margin-bottom: 20px; 
    animation:ease-in-out 3s ansh infinite; 
}


#myForm{
    display: none;
}
@media screen and (max-width: 614px) {
    

    #myForm{
        display: block;
    }
    #new_form{
        display: none;
    }
}